<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_initial %><br />
    <%= f.text_field :middle_initial %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br />
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label :hire_date %><br />
    <%= f.date_select :hire_date %>
  </div>
  <div class="field">
    <%= f.label :termination_date %><br />
    <%= f.date_select :termination_date %>
  </div>
  <div class="field">
    <%= f.label :gross_salary %><br />
    <%= f.text_field :gross_salary %>
  </div>
  <div class="field">
    <%= f.label :employee_401k %><br />
    <%= f.text_field :employee_401k %>
  </div>
  <div class="field">
    <%= f.label :employer_401k %><br />
    <%= f.text_field :employer_401k %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
